// website
$web-background:#f5f5f5;
// $web-background:#f5f5f5;
// _variables.scss
$primary: #49240F;
$secondary: #E4A79D;
$danger: #f93e3e;
$info: #0080FF;
$sky: #2bbdf6;
$success: #38c172;
$warning: #f6b213;

// text
$primary: #333333;
$secondary: #666666;
$accent: #FF0000;
$muted: #999999;
$whiteSmoke: #f5f5f5;

// font
$small-font-size: 12px;
$medium-font-size: 16px;
$large-font-size: 20px;

// padding
$p-1: 0.3125rem; // 5px
$p-2: 0.625rem;  // 10px
$p-3: 0.9375rem; // 15px
$p-4: 1.25rem;   // 20px
$p-5: 1.5625rem; // 25px

// margin
$m-1: 0.5rem;
$m-2: 1rem;
$m-3: 1.5rem;
$m-4: 2rem;
$m-5: 2.5rem;

// color class
.primary{
  background-color: $primary;
}
.secondary {
  background-color: $secondary;
}
.danger {
  background-color: $danger;
}
.info {
  background-color: $info;
}
.sky {
  background-color: $sky;
}
.success {
  background-color: $success;
}
.warning {
  background-color: $warning;
}

// text class
.primary-text {
  color: $primary;
}
.secondary-text {
  color: $secondary;
}
.accent-text {
  color: $accent;
}
.muted-text {
  color: $muted;
}
.white-text{
  color: #fff !important;
}
.white-text-logo{
  color: #ffffff9d !important;
}
.white-smoke-text{
  color: $whiteSmoke;
}
.success-text {
  color: $success !important;
}
.danger-text {
  color: $danger !important;
}
.warning-text {
  color: $warning !important;
}
.info-text {
  color: $info !important;
}
.sky-text {
  color: $sky !important;
}

// font class
.small-font{
  font-size: 12px;
}
.medium-font{
  font-size: 16px;
}
.large-font{
  font-size: 20px;
}

// padding class
.p-1 {
  padding: $p-1;
}
.p-2 {
  padding: $p-2;
}
.p-3 {
  padding: $p-3;
}
.p-4 {
  padding: $p-4;
}
.p-5 {
  padding: $p-5;
}

// padding class
.p-rl-1 {
  padding-left: $p-1;
  padding-right: $p-1;
}
.p-rl-2 {
  padding-left: $p-2;
  padding-right: $p-2;
}
.p-rl-3 {
  padding-left: $p-3;
  padding-right: $p-3;
}
.p-rl-4 {
  padding-left: $p-4;
  padding-right: $p-4;
}
.p-rl-5 {
  padding-left: $p-5;
  padding-right: $p-5;
}

// margin
.m-auto{
  margin: auto;
}
.m-1 {
  margin: $m-1;
}
.m-2 {
  margin: $m-2;
}
.m-3 {
  margin: $m-3;
}
.m-4 {
  margin: $m-4;
}
.m-5 {
  margin: $m-5;
}

.my-1 {
  margin-top: $m-1;
  margin-bottom: $m-1;
}
.my-2 {
  margin-top: $m-2;
  margin-bottom: $m-2;
}
.my-3 {
  margin-top: $m-3;
  margin-bottom: $m-3;
}
.my-4 {
  margin-top: $m-4;
  margin-bottom: $m-4;
}
.my-5 {
  margin-top: $m-5;
  margin-bottom: $m-5;
}

.mx-1 {
  margin-right: $m-1;
  margin-left: $m-1;
}
.mx-2 {
  margin-right: $m-2;
  margin-left: $m-2;
}
.mx-3 {
  margin-right: $m-3;
  margin-left: $m-3;
}
.mx-4 {
  margin-right: $m-4;
  margin-left: $m-4;
}
.mx-5 {
  margin-right: $m-5;
  margin-left: $m-5;
}

.mb-1 {
  margin-bottom: $m-1;
}
.mb-2 {
  margin-bottom: $m-2;
}
.mb-3 {
  margin-bottom: $m-3;
}
.mb-4 {
  margin-bottom: $m-4;
}
.mb-5 {
  margin-bottom: $m-5;
}

// fornt size
.fs-1 {
  font-size: 0.3125rem;
}
.fs-2 {
  font-size: 0.625rem;
}
.fs-3 {
  font-size: 0.9375rem;
}
.fs-4 {
  font-size: 1.25rem;
}
.fs-5 {
  font-size: 1.5625rem;
}

.bold {
  font-weight: bold;
}

//box shadow
.box-shadow{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
              0 10px 15px rgba(0, 0, 0, 0.1);
}

// center
.center{
  text-align: center;
}
.ant-layout{
  background-color: white !important;
}
.ant-layout-content{
  background: white !important;
}
// app edit
.ant-table-cell {
  text-align: center !important;
}
.ant-table-cell-header {
  text-align: center !important;
}
.ant-picker{
  width: 100% !important;
}
.submit{
  width:100%
}
.action_page{
  float: right;
}
.action{
  width: 100px;
}
.ant-table-cell{
  padding: 8px !important;
}
.ant-form-item{
  margin: 0;
}
.ant-popover-inner-content p{
  margin: 0;
}
.ant-input-number{
  width: 100% ;
}
.model-week{
  width: 100% ;
  column-gap: 3%;
}
.model-week .ant-checkbox-group-item{
  width: 22%;
}
.select-day{
  padding: 0.5rem 2rem;
  box-sizing: border-box;
}
.request::after{
  content: "*";
  display: inline-block;
  color: red;
  margin-inline-start: 4px;
}
:where(.css-dev-only-do-not-override-1hsjdkk).ant-switch.ant-switch-checked {
  background: #1ba8e0 !important;
}

.input-login{
  margin-bottom: 24px !important;
}

hr {
  border-top: 1px dashed #1ba8e04d;
}

.long-text {
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: 13px;
}
.ant-form-item-explain-error{
  position: absolute;
}
// response
@media screen and (max-width: 952px) {
  /* Styles for mobile */
  .mobile{
    display: block;
  }
  .mobile-none{
    display: none;
  }
  // .ant-layout-content{
  //   margin: 0 !important;
  //   padding: 0 !important;
  // }
}
@media screen and (min-width: 952px) {
  /* Styles for desktop */
  .mobile{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .select-day{
    padding: 5px 10px;
  }
}