// _variables.scss
$primary: #49240F;
$secondary: #E4A79D;
$danger: #FF0000;
$info: #0080FF;
$success: #38c172;

// text
$text-color-primary: #333333;
$text-color-secondary: #666666;
$text-color-accent: #FF0000;
$text-color-muted: #999999;
$text-color-whiteSmoke: #f5f5f5;

// font
$small-font-size: 12px;
$medium-font-size: 16px;
$large-font-size: 20px;

// padding
$p-1: 0.3125rem; // 5px
$p-2: 0.625rem;  // 10px
$p-3: 0.9375rem; // 15px
$p-4: 1.25rem;   // 20px
$p-5: 1.5625rem; // 25px

// margin
$m-1: 0.5rem;
$m-2: 1rem;
$m-3: 1.5rem;
$m-4: 2rem;
$m-5: 2.5rem;

// color class
.primary{
  background-color: $primary;
}
.secondary {
  background-color: $secondary;
}
.danger {
  background-color: $danger;
}
.info {
  background-color: $info;
}
.success {
  background-color: $success;
}

// text class
.primary-text {
  color: $text-color-primary;
}
.secondary-text {
  color: $text-color-secondary;
}
.accent-text {
  color: $text-color-accent;
}
.muted-text {
  color: $text-color-muted;
}
.white-smoke-text{
  color: $text-color-whiteSmoke;
}

// font class
.small-font{
  font-size: 12px;
}
.medium-font{
  font-size: 16px;
}
.large-font{
  font-size: 20px;
}

// padding class
.p-1 {
  padding: $p-1;
}
.p-2 {
  padding: $p-2;
}
.p-3 {
  padding: $p-3;
}
.p-4 {
  padding: $p-4;
}
.p-5 {
  padding: $p-5;
}

// padding class
.p-rl-1 {
  padding-left: $p-1;
  padding-right: $p-1;
}
.p-rl-2 {
  padding-left: $p-2;
  padding-right: $p-2;
}
.p-rl-3 {
  padding-left: $p-3;
  padding-right: $p-3;
}
.p-rl-4 {
  padding-left: $p-4;
  padding-right: $p-4;
}
.p-rl-5 {
  padding-left: $p-5;
  padding-right: $p-5;
}

// margin
.m-auto{
  margin: auto;
}
.m-1 {
  margin: $m-1;
}
.m-2 {
  margin: $m-2;
}
.m-3 {
  margin: $m-3;
}
.m-4 {
  margin: $m-4;
}
.m-5 {
  margin: $m-5;
}

// response
@media screen and (max-width: 952px) {
  /* Styles for mobile */
  .mobile{
    display: block;
  }
  .mobile-none{
    display: none;
  }
}
@media screen and (min-width: 952px) {
  /* Styles for desktop */
  .mobile{
    display: none;
  }
}